<aside>
	<div class="panel radius">
		<h3>Overview</h3>
		<p>
			First TestStation combines the most common instruments on the market (Mutimeter, Oscilloscope, Power Supply and Signal Generator) 
			with a custom-designed interconnect box full of electronics resources to offer a solid platform for anyone tasked with developing 
			test projects to validate new products.<br>
			The connection to the <abbr title="Unit Under Test">UUT</abbr> can be made via a custom interface board or mating cables on the TestStation to add flexibility.<br>
			Selftest boards will be used to demonstrate test sequence and validate the entire test station.
		
			

		
			

			
		</p>
	</div>

</aside>